{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'todos.css' %}">
</head>
<body>

<div class="head_container">
    <ul class="head_list">
        <li class="head_element"><h1>Add new task</h1></li>
        <li class="head_element"><a href="{% url 'todos:index' %}">Home</a></li>
        <li class="head_element"><a href="{% url 'todo_user:profile' %}">{{ user.username }}</a></li>
        <li class="head_element"><a href="{% url 'todos:add_todo' %}">add new todo</a></li>
    </ul>
</div>

<div style="
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    padding: 10px;
    border-radius: 10%;
    align-content: center">
    <form action="{% url 'todos:add_todo' %}" method="post">
        <ul>
            {% csrf_token %}
            <li><label for="title">title:</label></li>
            <li><input type="text" name="title" id="title"></li>
            <li><label for="description">add a description:</label></li>
            <li><textarea name="description" id="description" cols="30" rows="10"></textarea></li>
            <li><label for="start_date">enter start day(leave blank for current time)</label></li>
            <li><input type="date" id="start_date"></li>
            <li><input type="submit" value="add new todo"></li>
        </ul>
    </form>
</div>
<div>
    <h4 style="color: red">{{ error }}</h4>
</div>
<div>{{ error }}</div>
</body>
</html>