{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s Profile</title>
    <link rel="stylesheet" href="{% static 'todos.css' %}">
    <style>
        .inlines{
            display: inline-block;
        }
    </style>
</head>
<body>
<div class="head_container">
    <ul class="head_list">
        <li class="head_element"><h1>Edit your profile</h1></li>
        <li class="head_element"><a href="{% url 'todos:index' %}">Home</a></li>
        <li class="head_element"><a href="{% url 'todo_user:profile' %}">{{ user.username }}</a></li>
        <li class="head_element"><a href="{% url 'todos:add_todo' %}">add new todo</a></li>
    </ul>
</div>

<div style="
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    padding: 10px;
    border-radius: 10%;
    align-content: center">
    <form action="{% url 'todo_user:edit_profile' %}" method="post">
        {% csrf_token %}
        <ul class="inlines">
            <li>
                <div>
                    <ul>
                        <li class="inlines"><label for="username">username : </label></li>
                        <li class="inlines"><input type="text" id="username" value="{{ user.username }}" name="username" required></li>
                    </ul>
                </div>
            </li>
            <li>
                <div>
                    <ul>
                        <li class="inlines"><label for="email">email : </label></li>
                        <li class="inlines"><input type="email" id="email" value="{{ user.email }}" name="email" required></li>
                    </ul>
                </div>
            </li>
        </ul>
        <div>
            <input type="submit">
        </div>
    </form>
    {{ error }}
</div>
</body>
</html>