{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.username }}'s Profile</title>
        <link rel="stylesheet" href="{% static 'todos.css' %}">
</head>
<body>

<div class="head_container">
    <ul class="head_list">
        <li class="head_element"><h1>Profile</h1></li>
        <li class="head_element"><a href="{% url 'todos:index' %}">Home</a></li>
        <li class="head_element"><a href="{% url 'todo_user:profile' %}">{{ user.username }}</a></li>
        <li class="head_element"><a href="{% url 'todo_user:edit_profile' %}">edit profile</a></li>
        <li class="head_element"><a href="{% url 'todos:todos' %}">my tasks</a></li>
        <li class="head_element"><a href="{% url 'todos:add_todo' %}">add new todo</a></li>
        <li class="head_element"><h4><a href="{% url 'todo_user:logout' %}"><button>logout</button></a></h4></li>
    </ul>
</div>

</body>
</html>